<ng-container *ngIf="!!items && items.length > 0; else empty">
  <virtual-scroll [items]="items" (update)="viewPortItems = $event">
    <div *ngFor="let item of viewPortItems">
      <ng-container *ngTemplateOutlet="template;context:{ $implicit: item }">
      </ng-container>
    </div>
  </virtual-scroll>
</ng-container>
<!-- empty -->
<ng-template #empty>
  <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
</ng-template>
<!-- end empty -->