<div class="padd-top-sm padd-bottom-sm container">
    <div fxFlexOffset="80px" fxFlex fxLayoutAlign="space-between">
        <div>
            <span id="listheader-title" ngClass.gt-sm="font-lg" >{{title}}</span>
        </div>
        <div class="padd-right-lg" (click)="toggleFilter()" [hidden]="filterKeys.length == 0">
            <span ngClass.gt-sm="font-lg" class="font-blue">Filter</span>
            <i class="fa fa-angle-down mgn-left-sm font-blue" [rotate]="filterShown"></i>
        </div>
    </div>
</div>
<div [@expandable] *ngIf="filterShown" class="filter-container" fxLayout="column" fxLayout.gt-xs="row">
    <div *ngFor="let key of filterKeys" fxFlex>
        <custom-text-input [placeholder]="key" [(ngModel)]="filter[key]" (ngModelChange)="_onFilterChanged()"></custom-text-input>
    </div>
</div>