@import '../../../../styles/_variables.scss';

.container {
    padding: 10px;
    display: flex;
}

input {
    height: 30px;
    padding: 5px;
    flex: 1;
    border-radius: 10px;
    border: 1px solid $softGray;
}