.content {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.listheader-container{
    width: 100%;
    display: block;
    overflow: hidden;
}

.listview-container{
    height: calc(100vh - 45px);
    width: 100%;
}

.listview-container-gt-sm {
    @extend .listview-container;
    height: calc(100vh - 62px);
}