<div class="content full-height">
    <div class="listheader-container">
        <listheader [title]="title" (onFilterChanged)="onFilterChanged($event)"
            [filterKeys]="['name', 'subject']"
        ></listheader>
    </div>
    <div class="listview-container" ngClass.gt-sm="listview-container-gt-sm">
        <listview [items]="filteredMail$ | async" [title]="'Inbox'" [template]="inboxListItem" [empty-template]="emptyTemplate">
            <ng-template #inboxListItem let-item>
                <listitem [item]="item"></listitem>
            </ng-template>
            <!-- empty template are optional -->
            <ng-template #emptyTemplate>
                <div class="padd-xlg txt-center">
                    <span class="font-lightgray">no item</span>
                </div>
            </ng-template>
        </listview>
    </div>
</div>