@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto');
$line-height-factor: 1.8;

span {
    font-family: 'Roboto';
    font-size: $font-md;
    color: $gray;
    line-height: $font-md * $line-height-factor;
}

.txt-center{
    text-align: center
}

.font-gray{
    color: $gray;
}

.font-lightgray{
    color: $lightGray;
}

.font-softgray{
    color: $softGray;
}

.font-blue{
    color: $blue;
}

.font-sm {
    font-size: $font-sm;
    line-height: $font-sm * $line-height-factor;
}
  
.font-md {
    font-size: $font-md;
    line-height: $font-md * $line-height-factor;
}
  
.font-lg {
    font-size: $font-lg;
    line-height: $font-lg * $line-height-factor;
}
  
.font-xlg {
    font-size: $font-xlg;
    line-height: $font-xlg * $line-height-factor;
}
