@import 'variables';

.full-height {
    height: 100%;
}


.padd-sm {
    padding: $sm;
  }
  
  .padd-top-sm {
    padding-top: $sm;
  }
  
  .padd-bottom-sm {
    padding-bottom: $sm;
  }
  
  .padd-left-sm {
    padding-left: $sm;
  }
  
  .padd-right-sm {
    padding-right: $sm;
  }
  
  .padd-horizontal-md{
    padding: 0 20px;
  }
  
  .padd-md {
    padding: $md;
  }
  
  .padd-top-md {
    padding-top: $md;
  }
  
  .padd-bottom-md {
    padding-bottom: $md;
  }
  
  .padd-left-md {
    padding-left: $md;
  }
  
  .padd-right-md {
    padding-right: $md;
  }
  
  .padd-lg {
    padding: $lg;
  }
  
  .padd-top-lg {
    padding-top: $lg;
  }
  
  .padd-bottom-lg {
    padding-bottom: $lg;
  }
  
  .padd-left-lg {
    padding-left: $lg;
  }
  
  .padd-right-lg {
    padding-right: $lg;
  }
  
  .padd-xlg {
    padding: $xlg;
  }
  
  .padd-top-xlg {
    padding-top: $xlg;
  }
  
  .padd-bottom-xlg {
    padding-bottom: $xlg;
  }
  
  .padd-left-xlg {
    padding-left: $xlg;
  }
  
  .padd-right-xlg {
    padding-right: $xlg;
  }
  
  .mgn-sm {
    margin: $sm;
  }
  
  .mgn-top-sm {
    margin-top: $sm;
  }
  
  .mgn-bottom-sm {
    margin-bottom: $sm;
  }
  
  .mgn-left-sm {
    margin-left: $sm;
  }
  
  .mgn-right-sm {
    margin-right: $sm;
  }
  
  .mgn-md {
    margin: $md;
  }
  
  .mgn-top-md {
    margin-top: $md;
  }
  
  .mgn-bottom-md {
    margin-bottom: $md;
  }
  
  .mgn-left-md {
    margin-left: $md;
  }
  
  .mgn-right-md {
    margin-right: $md;
  }
  
  .mgn-lg {
    margin: $lg;
  }
  
  .mgn-top-lg {
    margin-top: $lg;
  }
  
  .mgn-bottom-lg {
    margin-bottom: $lg;
  }
  
  .mgn-left-lg {
    margin-left: $lg;
  }
  
  .mgn-right-lg {
    margin-right: $lg;
  }
  
  .mgn-xlg {
    margin: $xlg;
  }
  
  .mgn-top-xlg {
    margin-top: $xlg;
  }
  
  .mgn-bottom-xlg {
    margin-bottom: $xlg;
  }
  
  .mgn-left-xlg {
    margin-left: $xlg;
  }
  
  .mgn-right-xlg {
    margin-right: $xlg;
  }