$fa-font-path : '../../node_modules/font-awesome/fonts';

$sm: 0.5em;
$md: 1em;
$lg: 1.5em;
$xlg: 2em;

//color
$gray: #414141;
$lightGray: #909090;
$softGray: #E2E2E2;
$blue:#149ad8;


//font
$font-sm: 0.875em;//14px
$font-md: 1em;//16px
$font-lg: 1.25em;//20px
$font-xlg: 1.9em;//30px