/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'utilities';
@import 'typology';
@import '../../node_modules/font-awesome/scss/font-awesome';

html, body {
    height: 100%;
    margin: 0
}