@import '../../../../styles/_variables.scss';

.row {
   border-bottom: 1px solid $softGray;
}

.avatar-container{
    margin: 0 auto;
}

div{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
