<div fxLayout="row" class="row padd-top-sm padd-bottom-sm padd-right-sm">
    <div fxFlex="80px" fxLayout="column" fxLayoutAlign="start center">
        <ngx-avatar size="30" name="{{item.name}}" fxFlex id="listitem-avatar"></ngx-avatar>
    </div>
    <div fxFlex fxLayout="column">
        <div fxLayout="row">
            <div fxFlex>
                <span ngClass.lt-sm="font-sm" id="listitem-name">{{item.name}}</span>
            </div>
            <div fxFlex="100px">
                <span ngClass.lt-sm="font-sm" class="font-lightgray" id="listitem-date">{{item.date | customTime}}</span>
            </div>
        </div>
        <div>
            <span ngClass.lt-sm="font-sm" id="listitem-subject">{{item.subject}}</span>
        </div>
        <div>
            <span ngClass.lt-sm="font-sm" class="font-lightgray" id="listitem-body">{{item.body}}</span>
        </div>
    </div> 
</div>